<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="io.github.szalpuri.hellophonegap" version="0.0.1">

    <name>Delicious Recipe</name>

    <description>
        Recipe Methods
    </description>
    <content src="index.html" />
    <author href="https://szalpuri.github.io">
        Surbhi
    </author>
    <access origin="*" />
</widget>
